@tailwind base;
@tailwind components;
@tailwind utilities;

.title-font {
  font-family: 'SilkScreen', cursive;
}

@keyframes custom-bounce {
    0%, 100% {
      transform: translateY(-10%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
  
  .animate-custom-bounce {
    animation: custom-bounce 1s infinite;
  }
